branca==0.8.2
certifi==2026.2.25
charset-normalizer==3.4.4
fastcrc==0.3.5
folium==0.20.0
idna==3.11
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
numpy==2.4.2
pymavlink==2.4.49
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6-WebEngine==6.10.0
PyQt6-WebEngine-Qt6==6.10.2
PyQt6_sip==13.11.0
requests==2.32.5
urllib3==2.6.3
xyzservices==2025.11.0
